body {
  font-family: Arial, sans-serif;
}
header {
  background: url("../assets/perfil.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
header .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .container {
  z-index: 2;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#sobre img {
  border: 5px solid #fff;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  transform: scale(1.05);
}

#contato .form-control {
  margin-bottom: 1rem;
}
